.page-body-content
  .cover.main
    .logo
      = link_to image_tag('Logo-web.png'), root_path, class: "home-target"

    = form_tag(search_restaurants_path, id: 'restaurant-form') do
      .search-form#search-input-field
      =hidden_field_tag :restaurant_id, nil, id: 'restaurant-id'
      =submit_tag 'Search', class: 'btn-success', id: 'search-submit'

  .spacer

  .showcase
    .featured#item_1
      %h4.label Souvla
      .ft-img=image_tag "food-mobile.jpg"
    .featured#item_2
      %h4.label Doppio Zero
      .ft-img=image_tag "food-mobile.jpg"
    .featured#item_3
      %h4.label Burma Love
      .ft-img=image_tag "food-mobile.jpg"
    .featured#item_4
      %h4.label Orenchi
      .ft-img=image_tag "food-mobile.jpg"
    .featured#item_5
      %h4.label Harbor Villa Dim Sum
      .ft-img=image_tag "food-mobile.jpg"
    .featured#item_6
      %h4.label Smitten
      .ft-img=image_tag "food-mobile.jpg"

  .spacer

  .about
    .explainer#step_1
      %i.fas.fa-search-location
      %h3 Step 1
      %p Search for a Restaurant
    .explainer#step_2
      .lovehate
        %i.far.fa-thumbs-up
        %i.far.fa-thumbs-down
      %h3 Step 2
      %p
        Remember what you love, hate
        %br
          and want-to-try next time!
    .explainer#step_3
      %i.fas.fa-utensils
      %h3 Step 3
      %p Order Again!

= javascript_pack_tag 'restaurant_search'
