%h1
  Get This

-# This is just used to pass data to the restaurant_search React component
#restaurants_data{data: @restaurants.to_json}

= form_tag(search_restaurants_path, id: 'restaurant-form') do
  Restaurant
  #search-input-field
  =hidden_field_tag :restaurant_id, nil, id: 'restaurant-id'
  =submit_tag 'Search', class: "btn-success"

= javascript_pack_tag 'restaurant_search'
