
.container
  .cover.restaurant
    .restaurant-label
      =@restaurant.name
    //=image_tag "food-mobile.jpg"
    #restaurant-id{data: @restaurant.id}
  -# Just an empty div for React to hook to
  #items

= javascript_pack_tag 'menu_items'
