/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
  background-color: white;
  font-size: 1.125em;
}

body {
  display: flex;
  flex-direction: column;
}
/* HEADER, FOOTER */
.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-footer {
  font-size: .5em;
  padding: 2em 0em;
}

.page-body {
  flex-grow: 1;
}

ul.hmenu {
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

ul.hmenu li {
  display: inline;
  width: 100%;
}
.container {

  //align-items: center;
  //justify-content: center;

}

/* MAIN VIEW */
.cover {
  background-size: cover;
  background-repeat:no-repeat;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.8rem;
}

.main {
  background-image: url('food.jpg');
  height: 20em;
}
/*********************/

/* RESTAURANT ITEMS VIEW */
.restaurant {
  background-image: url('food-mobile.jpg');
  height: 10em;
}

.restaurant-photo {
}

.restaurant-label {
  width: 100%;
  padding: 1em 0em;
  background-color: white;
  opacity: 80%;
}

ul.menu-items {
  list-style: none;
  text-align: left;
  margin-top: 1em;

}

div.li.menu-item {
  padding-left: 1em;
  display: flex;
  align-items: center;
}

div.menu-item-name {
  padding-left: .5em;
}

div.push {
  margin-left: auto;
}

.rating {
  padding-right: 1em;
}
/*********************/


.logo img {
  max-width: 18em;
}

input[type="text"] {
  font-size: 24px;
  padding-left: .8em;
}

.search-form {
  margin-top: 1em;
  //margin-bottom: 4em;
}

.search {
  border-radius: 25px 0px 0px 25px;
}

.btn-success {
  font-size: 24px;
  padding: .1em .8em;
  border-radius: 0px 25px 25px 0px;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
}

.featured {
  width: 250px;
  height: 200px;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  flex-basis: 30%;
  z-index: 1;
}

.featured > .label {
  background-color: white;
  width:100%;
  opacity: 80%;
  position: relative;
  left: 0; top: 45%; right: 0; bottom: 0;
  z-index: 10;
}

.featured img {
  height: inherit;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20%;
}

.explainer {
  border: purple solid;
  border-width: 2px;
  border-color: lightseagreen;
  flex-basis: 30%;
  height: 400px;
  background-color: plum;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-device-width: 480px) {
  html, body {
    font-size: 2em;
  }

//XXX THIS IS A MESS
 .cover {
  //   background-size: cover;
  //   background-repeat:no-repeat;
  //   background-position-x: center;
    display: flex;
    margin: 0em;
    padding: 0em;
  //   align-items: center;
  //   justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;

    text-align: center;
    // background-image: url('food-mobile.jpg');
  }
  .main {
    background-image: url('food-mobile.jpg');
    //height: 20em;
    width: 100%;
  }
  .restaurant {
    background-image: url('food-mobile.jpg');
    height: 5em;
  }

  input[type="text"] {
    font-size: 48px;
    padding: 10px 25px 10px 25px;
  }

  .showcase {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .featured {
    width: 80%;
    background-color: white;
    margin-bottom: 5%;
  }

  .featured img {
    width: 100%;
    height: 450px;
  }

  .featured#item_4,#item_5,#item_6 {
    display: none;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5%;
  }

  .btn-success {
    font-size: 48px;
    padding: 10px 25px 10px 25px;
  }

  .about {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5%;
  }

  .explainer {
    border: purple solid;
    border-width: 2px;
    border-color: lightseagreen;
    flex-basis: 33%;
    width: 80%;
    background-color: plum;
    margin:5% 5px 2.5% 5px;
    padding: 5%;
  }

  .rating {
    padding-right: .1em;
  }

  ul.menu-items {
    list-style: none;
    text-align: left;
    margin-top: 1em;

  }
  div.li.menu-item {
    padding-left: 0em;
    display: flex;
    align-items: left;
  }
  div.menu-item-name {
    padding-left: 0em;
  }
}
