.restaurant {
  background-image: url('food-mobile.jpg');
  height: 10em;
}

.restaurant-photo {
}

.restaurant-label {
  width: 100%;
  padding: 1em 0em;
  background-color: white;
  opacity: 80%;
}

ul.menu-items {
  list-style: none;
  text-align: left;
  margin-top: 1em;

}

div.li.menu-item {
  padding-left: 1em;
  display: flex;
  align-items: center;
}

div.menu-item-name {
  padding-left: .5em;
}

div.push {
  margin-left: auto;
}

.rating {
  padding-right: 1em;
}

@media only screen and (max-device-width: 480px) {
  .restaurant {
    background-image: url('food-mobile.jpg');
    height: 5em;
  }
  .rating {
    padding-right: .1em;
  }
  ul.menu-items {
    list-style: none;
    text-align: left;
    margin-top: 1em;

  }
  div.li.menu-item {
    padding-left: 0em;
    display: flex;
    align-items: left;
  }
  div.menu-item-name {
    padding-left: 0em;
  }
}
