.restaurant {
  background-image: url('food-mobile.jpg');
  height: 10em;
}

.restaurant-photo {
}

.restaurant-label {
  width: 100%;
  padding: 1em 0em;
  background-color: white;
  opacity: 80%;
}



.menu-item {
  flex: 1 0 auto;
  padding-left: 1em;
  display: flex;
  flex-direction: row;

  // justify-content: space-between;
}

.menu-item-name {
  // padding-left: .5em;
  flex: 5;
}

.push {
  margin-left: auto;
}

.menu-items {
  text-align: left;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.btn-rating {
  flex: 1;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  color: blue;
  padding: .25em;
}

.love {
  color: hotpink;
}

.ok {
  color: lightgreen;
}

.hate {
  color: red;
}

.ignore {
  color: darkgray;
}

.save {
  color: darkslateblue
}

@media only screen and (max-device-width: 480px) {
  .restaurant {
    background-image: url('food-mobile.jpg');
    height: 5em;
  }
  .ratings {
    padding-right: .1em;
  }
  .menu-items {
    list-style: none;
    text-align: left;
    margin-top: 1em;

  }
  .menu-item {
    padding-left: 0em;
    display: flex;
    align-items: left;
  }
  .menu-item-name {
    padding-left: 0em;
  }
}
